/* 1. Reset / configurações globais */

/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONFIGURAÇÃO GLOBAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef;
    color: #111;
    line-height: 1.6;
    padding-bottom: 60px;
}

.section {
    margin-top: 80px;
}

/* CONTAINER CENTRAL */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* 2. Estilos gerais do site */

img {
    max-width: 100%;
    height: auto;
}

/* HEADER */
.header {
    background-color: #d8cdb2;
    border-bottom: 3px solid #2c84ff;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo h1 {
    font-size: 24px;
}

/* MENU DE NAVEGAÇÃO */
.nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-list a:hover {
    color: #2c84ff;
}

/* HERO */

.hero {
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
}

/* TEXTO */

.hero-text {
    max-width: 520px;
}

.hero h2 {
    font-size: 60px;
    margin-bottom: 10px;
}

.hero h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
    max-width: 420px;
}

/* IMAGEM */

.hero-image {
    background-color: #d8cdb2;
    padding: 40px;
    border-radius: 30px;

    width: 420px;
    height: 420px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
}

/* imagem saindo do card */

.hero-image img {
    position: absolute;
    bottom: 0;

    max-height: 520px;
}

/* 3. Layout geral */

/*.container {}*/
/*.section {}*/

/* 4. Componentes */

/*.header {}*/
/*.nav {}*/
/*.hero {}*/
/*.card {}*/

/* 5. Responsividade */

@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px;
    }

    .hero img {
        margin-top: 20px;
    }

    .hero-text {
        max-width: 100%;
    }

}